*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    
    width: 100%;
    height: 100%;
}
.container{
    background-color: rgb(240, 116, 22);
}
.hero{
    text-align: center;
    
}
.hero h1{
    font-style: italic;
    font-weight: bolder;
    transform:translateZ(30px);
    color: white;
}
.holla{
    color:white;
    background-image: url('https://raw.githubusercontent.com/Mercywairimu01/Moh-pizzeria/main/assets/images4.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    border-radius: 10px 4px 10px 1px;
}
.landing{
   text-align: center;
   
}
.maintext{
  font-size:3em;
  font-style: italic;
  color: white;
  }
  .secondtext{
  font-weight: bold;
  font-size: 19px;
  color: white;
  }
  .section{
      text-align: center;
      
  }
  
  .card{
      margin-top: 10px;
    background-color: white;
    border-radius: 20px; 
    transition: all .4s ease;
}
.card-footer{
    font-style: italic;
    font-size: 1.5em;
}
.card:hover{
    box-shadow: 0 0 2rem rgba(0,0,0,.4);
    transform: scale(1.0);
} 
.menu2{
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    font-size: 2em;
    margin-top: 20px;
}
.menu2 span{
    color: rgb(240, 188, 121);
}
#myForm{
    margin-top: 10px;
    font-size: 25px;

}
label{
    font-weight: bold;
}
#send{
    margin-top: 10px;
    background-color:rgb(240, 188, 121);
    
}
#grand{
    background-color:rgb(240, 188, 121); 
}
#home{
    background-color:rgb(240, 188, 121);
}

.userdeliver{
    display: none;
    font-weight: 700;
}
.pdelivery{
    display: none;
}
.ourwork>p{
    font-size: 2em;
}
#finalorder,#neworder{
    background-color:rgb(240, 188, 121) ;
}
.table{
    display: none;
    color: white;
}
#overlay{
    color: white;
    /* background-image: url('https://raw.githubusercontent.com/Mercywairimu01/Moh-pizzeria/main/assets/images4.jpeg'); */
    background-color: rgba(0, 0, 0, 0.699);

    border-radius: 50px 50px 50px 50px;
}
#icons{
    text-align: center;
   
}
.logo{
    border-radius: 50%;
    width: 100px;
    height: 90px;
}
.landing{
    text-align: center;
    margin-top: 50px;
    /* margin-left: 150px; */
}



